# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.UnrealEngine.Tests.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Prince\Desktop\UnrealCLR-master\Source\Managed\Tests\.idea\.idea.UnrealEngine.Tests.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
