# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.PKSIW.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Prince\Documents\Unreal Projects\PksIw\Script\Tests\.idea\.idea.PKSIW.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
